.container{
    min-height: calc(100vh - var(--nav-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.dark{
        background-color: #ddd;
    }
}